.section {
  composes: section from "../../shared/components/section.module.css";
}

.container {
  composes: container from "../../shared/components/section.module.css";
  composes: stackLg from "../../shared/components/section.module.css";
}

.accordionWrapper {
  max-width: 68ch;
  margin-inline: auto;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}
